.loginColorGoogle {
  background-color: #01b398;
}
.btn-link {
  text-decoration: none;
}
.register {
  color: #6f7275;
}
.loginColor {
  background-color: #355a63;
}
.bgcForm {
  background-color: #02e0c3;
}

