/* .round {
  border-radius: 100px !important;
}
.bgc-black {
  background-color: black;
}
.symbol {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(25, 25, 235);
  font-size: 1.6em;
  background-color: rgb(18, 203, 58);
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 5px;
} */

